<section class="blogs">
  <div class="container-fluid d-flex">
    <div class="blogs-info">
      <h2>BLOGS</h2>
      <h1>Latest Blogs</h1>
      <div>
        View all <span><i class="fa-solid fa-right-long"></i></span>
      </div>
    </div>
    <div class="blog-article">
      <div class="blog-article__item">
        <p>April 16, 2021 .6 mins</p>
        <h1>Design tips for designers, that cover everything you need</h1>
        <div>
          Read the article <span><i class="fa-solid fa-right-long"></i></span>
        </div>
      </div>
      <div class="blog-article__item">
        <p>April 16, 2021 .5 mins</p>
        <h1>How to build rapport with your web design clients</h1>
        <div>
          Read the article <span><i class="fa-solid fa-right-long"></i></span>
        </div>
      </div>
      <div class="blog-article__item">
        <p>April 16, 2021 .5 mins</p>
        <h1>Top 6 free website mockup tools 2021</h1>
        <div>
          Read the article <span><i class="fa-solid fa-right-long"></i></span>
        </div>
      </div>
      <div class="blog-article__item">
        <p>April 16, 2021 .7 mins</p>
        <h1>Logo design trends to avoid in 2021</h1>
        <div>
          Read the article <span><i class="fa-solid fa-right-long"></i></span>
        </div>
      </div>
      <div class="blog-article__item">
        <p>April 16, 2021 .7 mins</p>
        <h1>22 best UI design tools</h1>
        <div>
          Read the article <span><i class="fa-solid fa-right-long"></i></span>
        </div>
      </div>
    </div>
  </div>
</section>
