<section class="footer">
  <div class="container-fluid">
    <h1 class="footer__question">Ready to make something kickass?</h1>
    <h2 class="footer__call">Let's get on a call.</h2>
    <div class="footer__info d-flex">
      <div class="footer__creator-info">
        <h1>Portfolio Creator</h1>
        <p>4353 Delaware Avenue, San Francisco, USA</p>
        <div class="creator__email d-flex">
          <i class="fa-solid fa-envelope"></i>
          <p>hi@/thefolio.com</p>
        </div>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a href="#">About</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Contact</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Dribble</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Services</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Blog</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Instagram</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Experience</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Projects</a>
        </li>
        <li class="footer__menu-item">
          <a href="#">Twitter</a>
        </li>
      </ul>
    </div>
    <div class="footer__end-info d-flex">
      <p>© All rights reserved.</p>
      <p>Sumit Hegde</p>
      <p>. Powered by</p>
      <p>Webflow</p>
      <p>/Image License Info</p>
      <p>/Instructions</p>
      <p>/Changelog</p>
      <p>/Style Guide</p>
    </div>
  </div>
</section>
