<section class="hero">
  <div class="container-fluid">
    <div class="d-flex hero-body">
      <div class="hero-info">
        <h1>
          <span> I design products <br /> </span>
          <span>
            that delight and <br />
            inspire people.
          </span>
        </h1>
        <p>
          Hi! I’m Jake, a product designer based in Berlin. I create <br />
          user-friendly interfaces for fast-growing startups.
        </p>
        <div class="hero-footer d-flex align-items-center">
          <button class="btn">Book a call</button>
          <div>
            <a href="#">
              Download CV <span><i class="fa-solid fa-right-long"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="hero-img">
        <img src="assets/hero.png" alt="hero" />
      </div>
    </div>
  </div>
</section>
