<section class="projects">
  <div class="container-fluid">
    <div class="d-flex view">
      <div>
        <h2>PROJECTS</h2>
        <h1 [title]="test">
          I bring results. <br />
          {{title}}
        </h1>
      </div>
      <button (click)="testFn()">View all projects</button>
    </div>
    <div class="project-items d-flex">
      <div class="project-item">
        <img src="assets/project-item-1.png" alt="project-item-1" />
        <p>Branding</p>
        <h1>Soulful Rebrand</h1>
        <h3>
          View Project <span><i class="fa-solid fa-right-long"></i></span>
        </h3>
      </div>
      <div class="project-item">
        <img src="assets/project-item-2.png" alt="project-item-2" />
        <p>Product Design</p>
        <h1>Datadash Product design</h1>
        <h3>
          View Project <span><i class="fa-solid fa-right-long"></i></span>
        </h3>
      </div>
      <div class="project-item">
        <img src="assets/project-item-3.png" alt="project-item-3" />
        <p>Web Design</p>
        <h1>Maize Website Design</h1>
        <h3>
          View Project <span><i class="fa-solid fa-right-long"></i></span>
        </h3>
      </div>
    </div>
  </div>
</section>
