<section class="services">
  <div class="container-fluid">
    <h2>Services</h2>
    <h1>
      Design that solves problems, <br />
      one product at a time.
    </h1>
    <div class="d-flex service-fields">
      <div class="fields-item">
        <img src="assets/field-1.svg" alt="field-1" />
        <h1>What I can do for you</h1>
        <p>
          Faster, better products that your <br />
          users love. Here's all the services <br />
          I provide:
        </p>
        <ul>
          <li>Design Strategy</li>
          <li>Web and Mobile App Design</li>
          <li>Front-end Development</li>
        </ul>
      </div>
      <div class="fields-item">
        <img src="assets/field-2.svg" alt="field-2" />
        <h1>Applications I'm fluent in</h1>
        <p>
          Every designer needs the right <br />
          tools to do the perfect job. <br />
          Thankfully, I'm multilingual.
        </p>
        <ul>
          <li>Sketch</li>
          <li>Webflow</li>
          <li>Figma</li>
        </ul>
      </div>
      <div class="fields-item">
        <img src="assets/field-3.svg" alt="field-3" />
        <h1>What you can expect</h1>
        <p>
          I design products that are more <br />
          than pretty. I make them shippable <br />
          and usable.
        </p>
        <ul>
          <li>Clean and functional</li>
          <li>Device and user friendly</li>
          <li>Efficient and maintainable</li>
        </ul>
      </div>
    </div>
  </div>
</section>
