<section class="testimonials">
  <div class="container-fluid">
    <h2>Testimonials</h2>
    <h1>Word on the street</h1>
    <div class="testimonials-info d-flex">
      <img src="assets/testimonials-photo.png" alt="testimonials-photo" />
      <div>
        <img src="assets/quote.svg" alt="quote" />
        <h1>
          Jade helped us build a software so <br />
          intuitive that it didn't need a <br />
          walkthrough. He solved complex <br />
          problems with brilliant design.
        </h1>
        <div class="d-flex">
          <div> 
            <h1>John Frankin</h1>
            <p>Founder, Double Bunch</p>
          </div>
          <div class="buttons">
            <button><i class="fa-solid fa-angle-left"></i></button>
            <button><i class="fa-solid fa-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
