<section class="designer">
  <div class="container-fluid">
    <div class="designer-info d-flex">
      <div>
        <h2>Product Designer</h2>
        <h1>That's me</h1>
      </div>
      <p>
        Over the past 12 years, I've worked with a diverse range of <br />
        clients, from startups to Fortune 500 companies. I love crafting <br />
        interfaces that delight users and help businesses grow.
      </p>
    </div>
    <div class="d-flex designer-jobs">
      <img src="assets/designer-job-1.png" alt="designer-job-1" />
      <img src="assets/designer-job-2.png" alt="designer-job-2" />
      <div>
        <img
          class="d-block"
          src="assets/designer-job-3.png"
          alt="designer-job-3"
        />
        <img
          class="d-block"
          src="assets/designer-job-4.png"
          alt="designer-job-4"
        />
      </div>
    </div>
    <div class="designer-experience d-flex">
      <div class="education">
        <h1>
          <img src="assets/book.svg" alt="book" /> <span> Education</span>
        </h1>
        <div class="university-item">
          <div class="d-flex">
            <h1>Stanford University</h1>
            <img src="assets/arrow.svg" alt="arrow" />
          </div>
          <div class="d-flex">
            <p>MSc (Human Computer Interaction)</p>
            <p>• 2013-2015</p>
          </div>
        </div>
        <div class="university-item">
          <div class="d-flex">
            <h1>MIT Summer School</h1>
            <img src="assets/arrow.svg" alt="arrow" />
          </div>
          <div class="d-flex">
            <p>UX Training Bootcamp</p>
            <p>• 2013-2014</p>
          </div>
        </div>
        <div class="university-item">
          <div class="d-flex">
            <h1>California State University</h1>
            <img src="assets/arrow.svg" alt="arrow" />
          </div>
          <div class="d-flex">
            <p>BSc in Software Engineering</p>
            <p>• 2009-2012</p>
          </div>
        </div>
      </div>
      <div class="work-experience">
        <h1>
          <img src="assets/case.svg" alt="Case" /> <span> Work Experience</span>
        </h1>
        <div class="university-item">
          <img src="assets/rocket.svg" alt="rocket" />
          <div>
            <div class="d-flex">
              <h1>Stanford University</h1>
              <img src="assets/arrow.svg" alt="arrow" />
            </div>
            <div class="d-flex">
              <p>MSc (Human Computer Interaction)</p>
              <p>• 2013-2015</p>
            </div>
          </div>
        </div>
        <div class="university-item">
          <img src="assets/music.svg" alt="music" />
          <div>
            <div class="d-flex">
              <h1>MIT Summer School</h1>
              <img src="assets/arrow.svg" alt="arrow" />
            </div>
            <div class="d-flex">
              <p>UX Training Bootcamp</p>
              <p>• 2013-2014</p>
            </div>
          </div>
        </div>
        <div class="university-item">
          <img src="assets/crown.svg" alt="crown" />
          <div>
            <div class="d-flex">
              <h1>California State University</h1>
              <img src="assets/arrow.svg" alt="arrow" />
            </div>
            <div class="d-flex">
              <p>BSc in Software Engineering</p>
              <p>• 2009-2012</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
